.sidebar-box
    position absolute
    right 2px
    top 50%
    transform translateY(-50%)
    width 30px
    border solid 1px red
    z-index 2
    padding 15px 0
    display: flex
    flex-direction: column
    .sidebar-item
        width: 15px
        height @width